<section class="section u-hideMobile">
  <div class="container">
    <h2 class="u-txt-center title-section title-section--inside">Business areas</h2>
    <p class="paragraph u-txt-center paragraph--big">(Gross income. Year-on-year changes at constant exchange rates. In the case of Turkey, year-on-year changes in comparable terms)</p>
    <div class="section-map">
      {% include mapa-en.html %}
    </div>
  </div>
</section>


<section class="section section--areas u-showMobile">
  <div class="container">
    <h2 class="u-txt-center title-section title-section--inside">Business areas</h2>
    <p class="paragraph u-txt-center paragraph--big">(Gross income. Year-on-year changes at constant exchange rates. In the case of Turkey, year-on-year changes in comparable terms)</p>
    {% include info-maps/spain-en.html %}
    {% include info-maps/eeuu-en.html %}
    {% include info-maps/turquia-en.html %}
    {% include info-maps/mexico-en.html %}
    {% include info-maps/southamerica-en.html %}
    {% include info-maps/eurasia-en.html %}
  </div>
</section>