<section class="section u-hideMobile">
  <div class="container">
    <h2 class="u-txt-center title-section title-section--inside">Áreas de negocio</h2>
    <p class="paragraph u-txt-center paragraph--big">(Margen bruto. Variaciones interanuales a tipos de cambio constantes. En el caso de Turquía, las tasas de variación son en términos homogéneos)</p>
    <div class="section-map">
      {% include mapa-es.html %}
    </div>
  </div>
</section>

<section class="section section--areas u-showMobile">
  <div class="container">
    <h2 class="u-txt-center title-section title-section--inside">Áreas de negocio</h2>
    <p class="paragraph u-txt-center paragraph--big">(Margen bruto. Variaciones interanuales a tipos de cambio constantes. En el caso de Turquía, las tasas de variación son en términos homogéneos)</p>
    {% include info-maps/spain.html %}
    {% include info-maps/eeuu.html %}
    {% include info-maps/turquia.html %}
    {% include info-maps/southamerica.html %}
    {% include info-maps/mexico.html %}
    {% include info-maps/eurasia.html %}
  </div>
</section>