<!--
    the button has data-modal-id
    the modal has data-modal
    both data-modal and data-modal-id need to be the same value
    inside the button for close has data-modal-close, no value
-->
<div class="map-info" data-modal="usa">
    <div class="map-close" data-modal-close>
        <svg width="18px" height="19px" viewBox="606 456 18 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon id="Page-1" stroke="none" fill="#0086CE" fill-rule="evenodd" points="614.833 463.8986 607.934 456.9996 606 458.9336 612.899 465.8326 606 472.7316 607.934 474.6666 614.833 467.7666 621.732 474.6666 623.666 472.7316 616.766 465.8326 623.666 458.9336 621.732 456.9996"></polygon>
        </svg>
    </div>
    <div class="map-infoHeader u-txt-center">
        <h2 class="map-infoTitle">ESTADOS UNIDOS</h2>
        <h3 class="map-infoSubtitle"><b>ACTIVIDAD</b></h3>
        <p class="paragraph">Variación interanual a tipo de cambio constante. Saldos puntuales</p>
        <div class="map-infoMedia">
            <svg width="478px" height="434px" viewBox="378 268 478 434" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="5.15466639%" y1="0%" x2="100%" y2="0%" id="linearGradient-1">
                        <stop stop-color="#000000" stop-opacity="0" offset="0%"></stop>
                        <stop stop-color="#000000" stop-opacity="0.254932517" offset="0%"></stop>
                        <stop stop-color="#000000" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(378.000000, 268.000000)">
                    <g id="Page-1">
                        <text id="RIESGOS" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="15" font-weight="400" letter-spacing="-0.023" fill="#0086CE">
                            <tspan x="204.1021" y="120.777264">RIESGOS</tspan>
                        </text>
                        <text id="RESULTADOS" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="15" font-weight="400" letter-spacing="-0.023" fill="#0086CE">
                            <tspan x="187.3621" y="350.772264">RESULTADOS</tspan>
                        </text>
                        <text id="CRÉDITO-A-LA-CLIENTELA" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="44.9219" y="62.3772708">CRÉDITO A LA CLIENTELA</tspan>
                        </text>
                        <text id="RECURSOS-EN-GESTIÓN" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="283.8299" y="62.3772708">RECURSOS EN GESTIÓN</tspan>
                        </text>
                        <text id="-0,9%" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="30" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="79.0742" y="28.110327">-0,9%</tspan>
                        </text>
                        <text id="+1,7%" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="30" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="313.4342" y="28.110327">+1,7%</tspan>
                        </text>
                        <text id="MARGEN-NETO" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="76.1396" y="430.377271">MARGEN NETO</tspan>
                        </text>
                        <text id="BENEFICIO-ATRIBUÍDO" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="288.3476" y="430.377271">BENEFICIO ATRIBUÍDO</tspan>
                        </text>
                        <text id="863" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="30" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="94.1338" y="399.110327">863</tspan>
                        </text>
                        <text id="459" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="30" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="328.8838" y="399.110327">459</tspan>
                        </text>
                        <text id="0,37" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="18" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="431.5225" y="146.483956">0,37</tspan>
                        </text>
                        <text id="94" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="18" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="431.5225" y="268.793956">94</tspan>
                        </text>
                        <path d="M161.9608,177.5264 L476.6188,177.5264" id="Stroke-3" stroke="#E6E6E6"></path>
                        <text id="1,5" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="18" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="431.5225" y="195.559156">1,5</tspan>
                        </text>
                        <text id="0,25" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="14" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="169.9668" y="154.433366">0,25</tspan>
                        </text>
                        <text id="151" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="14" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="178.7728" y="255.569366">151</tspan>
                        </text>
                        <text id="2015" font-family="BentonSansBBVA-Book, Benton Sans BBVA" font-size="9" font-weight="300" letter-spacing="-0.008" fill="#666666">
                            <tspan x="197.5937" y="296.598378">2015</tspan>
                        </text>
                        <text id="2016" font-family="BentonSansBBVA-Book, Benton Sans BBVA" font-size="9" font-weight="300" letter-spacing="-0.008" fill="#666666">
                            <tspan x="410.0657" y="296.598378">2016</tspan>
                        </text>
                        <text id="0,9" font-family="BentonSansBBVA-Light, Benton Sans BBVA" font-size="14" font-weight="300" letter-spacing="-0.008" fill="#121212">
                            <tspan x="177.6387" y="203.973366">0,9</tspan>
                        </text>
                        <text id="M€" font-family="BentonSansBBVA-Book, Benton Sans BBVA" font-size="15" font-weight="300" fill="#797979">
                            <tspan x="224.543" y="369.103464">M€</tspan>
                        </text>
                        <path d="M0.6185,81.8555 L476.6185,81.8555" id="Stroke-4" stroke="#BBBBBB"></path>
                        <path d="M207.6201,281.833 L207.6201,285.64" id="Stroke-5" stroke="#E6E6E6"></path>
                        <path d="M420.1628,281.833 L420.1628,285.656" id="Stroke-6" stroke="#E6E6E6"></path>
                        <path d="M0.6185,320.8555 L476.6185,320.8555" id="Stroke-7" stroke="#BBBBBB"></path>
                        <path d="M161.9608,229.3867 L476.6188,229.3867" id="Stroke-8" stroke="#E6E6E6"></path>
                        <path d="M161.9608,281.833 L476.6188,279.833" id="Stroke-9" stroke="#E6E6E6"></path>
                        <text id="COSTE-DE-RIESGO-(%)" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="1.7373" y="156.763071">COSTE DE RIESGO (%)</tspan>
                        </text>
                        <text id="TASA-DE-MORA-(%)" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="1.7373" y="205.867071">TASA DE MORA (%)</tspan>
                        </text>
                        <text id="TASA-DE-COBERTURA--(%)" font-family="BentonSansBBVA-Medium, Benton Sans BBVA" font-size="12" font-weight="400" letter-spacing="-0.004" fill="#666666">
                            <tspan x="1.7373" y="258.967071">TASA DE COBERTURA  (%)</tspan>
                        </text>
                        <rect id="Rectangle" fill-opacity="0.2" fill="url(#linearGradient-1)" x="346" y="266" width="74" height="9"></rect>
                        <rect id="Rectangle-Copy" fill-opacity="0.2" fill="url(#linearGradient-1)" transform="translate(244.000000, 203.179366) scale(-1, 1) translate(-244.000000, -203.179366) " x="207" y="198.679366" width="74" height="9"></rect>
                        <rect id="Rectangle-Copy-2" fill-opacity="0.2" fill="url(#linearGradient-1)" transform="translate(245.000000, 153.179366) scale(-1, 1) translate(-245.000000, -153.179366) " x="208" y="148.679366" width="74" height="9"></rect>
                        <polygon id="Fill-13" fill="#D8BE75" points="207.5138 248.9531 207.5138 257.9231 420.1618 274.4411 420.1618 265.4711"></polygon>
                        <polygon id="Fill-15" fill="#1364A5" points="207.5138 149.748 207.5138 157.719 420.1618 149.237 420.1618 141.267"></polygon>
                        <polygon id="Fill-11" fill="#45C2C4" points="207.5138 198.8506 207.5138 207.8206 420.1618 196.3386 420.1618 187.3696"></polygon>
                    </g>
                </g>
            </svg>
        </div>
        <div class="u-txt-center">
          <a href="#" class="button is-small button--green">
            Más información
          </a>
        </div>
    </div>
</div>
