.section {
  background: $white;
  padding: 80px 0;
}
.section--client {
  padding-bottom: 150px;
  .container {
    position: relative;
  }
}
.section--small {
  padding: 60px 0;
}

.section--s {
  padding: 40px 0;
}

.section--grey {
  background: $lightgrey;
}

.section--blue {
  background: $bbvablue;
  color: $white;
}
.section--blueDark {
  background: #004481;
  color: $white;
  .highlight {
    font-family:'BentonBold';
    color: #00BEFF;
  }
}
.section--blueOpacity {
  background: rgba($bbvablue, 0.84);
}

.section--piramids {
  background-color: #004481;
  background-image: url('../images/bg-piramids.svg');
  background-size: cover;
  background-position: top center;
}
.section--piramids-light {
  background-color: #2A86CA;
  background-image: url('../images/bg-piramids-light.svg');
  background-size: cover;
  background-position: top center;
}

.section--header {
  @include display-flex;
  @include align-items(center);
  // background-image: url('../images/header-background.png');
  // background-position: left center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: $blueHeader;
  background-color: transparent;
  padding: 154px 0 0 0;
  height: 820px;
  position: relative;

  &::before {
    background: $blueHeader;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.section--pilares {
  position: relative;
  background: transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#F2F2F2, 0.9);
  }
  .container {
    position: relative;
  }
}

.section--letter {
  background-image: url('../images/bg-letter.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 102%;
  padding-bottom: 0;
  position: relative;

  // ejemplo para scroll-observer
  opacity: 0;
  transition: opacity 2s ease-out;

  &.is-visible {
    opacity: 1;
  }
}
.section--letterBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2px;
  left: 0;
  background-image: url('../images/bg-letter-opacity.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.section--figures {
  background: 0 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .container {
    position: relative;
    z-index: 3;
    padding: 120px 0 0 0;
  }
  .figures-title {
    font: 72px 'BentonBold';
    color: $white;
    margin-bottom: 40px;
  }
  .figures-text {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    font: 15px 'BentonBold';
    color: $white;
    margin-bottom: 120px;
    svg {
      margin: 0 12px;
    }
  }
}

.section--estrategia {
  background: transparent;
  color: $white;
  padding: 90px 0 57px;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    background: rgba($turquoise, .5);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  h3 {
    font-size: 72px;
    line-height: 1;
    margin-bottom: 40px;
    font-family: 'TiempoItalic';
    font-style: italic;
  }
  p {
    font: 18px 'BentonLight';
    margin-bottom: 70px;
  }
  a {
    font: 15px 'BentonMedium';
    color: $white;
  }
  .title-section {
    margin-bottom: 30px;
  }
}


.list {
  @include display-flex;
  @include flex-wrap(wrap);
}

.list--decoration {
  .list-item {
    border-bottom: 1px solid #000;
    .paragraph {
      @include flex(1);
    }
    .txt-number {
      margin-right: 18px;
    }
  }
}

.list--threeItems {
  margin: 0 -15px ;

  .list-item {
    margin: 0 15px 30px;
    width: calc(33.33% - 30px);
  }
  &.list--images {
    margin: 0 -10px 0 0;
    background-image: url('../images/bg-definida.png');
    background-size: cover;
    .paragraph {
      color: #fff;
      font-family: 'BentonBold';
      position: relative;
      padding: 0 40px;
      text-align: center;
    }

    .list-item {
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      margin: 0;
      border-bottom: 10px solid #fff;
      border-right: 10px solid #fff;
      width: 33.3333333%;
      position: relative;
      height: 162px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#00CCCD, 0.65);
      }
    }
  }
}
.list--twoItems {
  margin: 0 -15px ;

  .list-item {
    margin: 0 15px 30px;
    width: calc(50% - 30px);
  }
}
.list--fourItems {
  margin: 0 -15px ;

  .list-item {
    margin: 0 15px 30px;
    width: calc(25% - 30px);
  }
}

.list-numbersItem {
  border-top: 1px solid $white;
  padding-top: 35px;
  margin-bottom: 60px;
  .list-item {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    font: 26px/1 'BentonBold';
    margin-bottom: 32px;
  }
  h4 {
    font: 18px/1 'BentonBook';
    margin-bottom: 24px;
  }
  .number {
    font: 60px/1 'BentonLight';
  }
}

.list-numbers--simple {
  padding: 30px 0 60px;

  .list-item {
    margin-right: 130px;
    &:last-child {
      margin-right: 0;
    }
  }

  h3 {
    font: 20px/1 'BentonBold';
    margin-bottom: 32px;
    span {
      font-family: 'BentonLight';
    }
  }

  h4 {
    font: 16px/1 'BentonBook';
    margin-bottom: 24px;
  }

  .list-numbersItem {
    border-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }
}


.card {
  background: $white;
  border-bottom: 2px solid $tableborder;
}

.card-media {
  img {
    display: block;
    width: 100%;
  }
}

.card-txt {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 222px;
  padding: 30px;

  h4 {
    color: $bbvablue;
    font: 11px 'BentonMedium';
    margin-bottom: 4px;
  }

  h3 {
    font: 26px 'BentonMedium';
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  p {
    color: $bbvablue;
    font: 15px 'BentonMedium';
  }
}

.card-inner {
  color: $dark;
}

.card-highlight {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    display: block;
  }

  &::before {
    background: rgba($dark, .20);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .card-highlightTxt {
    @include transition(all, 300ms, ease-in);
    position: absolute;
    padding: 40px;
    top: calc(100% - 150px);

    h2 {
      @include display-flex;
      @include align-items(flex-end);
      font: 40px/46px 'BentonBold';
      margin-bottom: 10px;
      color: $white;
      height: 98px;
    }
    p {
      font: 20px/26px 'BentonLight';
      color: $white;
    }
  }
  &:hover {
    .card-highlightTxt {
      top: -20px;
      h2 {
        height: auto;
      }
    }
    &::before {
      background: rgba($darkHover, 0.8);
    }
  }
}

.container-letter {
  @include display-flex;
  position: relative;
}

.letter {
  color: $white;
  width: 50%;
  position: relative;
  z-index: 2;

  h2 {
    font: 36px/1 'BentonLight';
    margin-bottom: 48px;
  }

  h3 {
    font: 36px/50px 'TiempoItalic';
    margin: 44px 0 54px;
    font-style: italic;
  }

  p {
    font: 18px/1 'BentonMedium';
    margin-bottom: 100px;
  }
  a {
    font: 15px/1 'BentonMedium';
    color: $bbvablue;
  }
}
.letter-media {
  /*
  width: 50%;
  img {
    display: block;
    transform: translateX(84px);
  }*/
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    display: block;
  }
}


.section--header {
  color: $white;
  h1 {
    font: 84px 'BentonBold'
  }
  h2 {
    font: 35px 'BentonLight';
    margin-bottom: 130px;
  }
  p {
    font: 14px 'BentonBold';
    span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
    }
  }
}

.link-more {
  text-align: center;
  margin-top: 40px;
  &.is-white {
    a {
      color: $white !important;
    }
  }
  a {
    @include display-flex();
    @include align-items(center);
    font: 15px 'BentonBold';
    color: $bbvablue !important;
    svg {
      margin-right: 8px;
    }
  }
  &.is-left a {
    @include justify-content(flex-start);
  }
}

.list-features {

  .list-item {
    padding-right: 100px;
  }
  .list-featuresMedia {
    margin-bottom: 10px;
  }

  h2 {
    font: 15px 'BentonMedium';
    margin-bottom: 20px;
    color: $bbvablue;
  }

  p {
    font: 15px 'BentonBook';
  }
}


.icon-margin {
  margin-bottom: 8px;
}

.progress {
  margin-bottom: 30px;
}

.progress-start {
  font: 60px/1 'BentonLight';

  small {
    font-size: 20px;
    line-height: 1;
    margin-left: 4px;
  }
}

.progress-end {
  color: rgba($txtgrey, 0.4);
  font: 16px 'BentonMedium';
}

.progress-header {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(flex-end);
  margin-bottom: 4px;
}

.progress-rail {
  height: 20px;
  background: $white;
}

.progress-bar {
  display: block;
  height: 20px;
  background: $darkblue;
}


.section-option {
  padding: 14px 0;
  border-bottom: 1px solid $tableborder;
}

.download-option {
  font: 14px 'BentonMedium';
  a {
    @include display-flex;
    @include align-items(center);
    color: $bbvablue;
    svg {
      margin-right: 8px;
    }
  }
}

.share-item {
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.bg-interior {
  position: relative;
  padding: 150px 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.bg-interior--sociedad {
  background-color: transparent;
  // background-image: url('../images/bg-sociedad.jpg');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}


.letter-image {
  background: #f5f5f5;
  img {
    width: 100%;
    display: block;
  }
}

.letter-txt {
  padding-bottom: 130px;
  > p {
    color: $txtgrey;
    font: 15px/23px 'BentonLight';
    margin-bottom: 15px;
  }
  .letter-info {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    margin: 65px 0 55px;
    border-bottom: 2px solid rgba($bbvablue, 0.5);
    padding-bottom: 20px;
    h2 {
      font: 14px/1.2 'BentonLight';
      color: $bbvablue;
      flex: 200px;
      max-width: 200px;
    }
    ul {
      @include display-flex;
      @include justify-content(flex-start);
      li {
        margin-left: 120px;
        &:first-child {
          margin-left: 0;
        }
        h3 {
          @include display-flex();
          color: $bbvablue;
          font: 38px/1 'BentonBold';
          small {
            font: 22px/1 'BentonBold';
            margin-left: 4px;
          }
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
.blockquote {
  font: 30px/1.2 'TiempoItalic';
  padding: 70px 150px 50px 40px;
  font-style: italic;
  background: $lightgrey;
  margin: 65px 0 55px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 78px;
    height: 61px;
    background-image: url('../images/quote.svg');
    top: -35px;
  }
}
.letter-sign {
  margin-top: 40px;
  text-align: right;
}
.letter-signMedia {
  margin-bottom: 24px;
  img {
    display: block;
  }
}
.letter-signDate{
  color: $txtgrey;
  font: 14px/1.2 'BentonLight';
  margin-bottom: 6px;
}
.letter-signAuthor{
  color: $dark;
  font: 14px/1.2 'BentonBold';
}

.parallax-mirror {
  mix-blend-mode: multiply;
}


.list-buttons {
  @include display-flex;
  @include justify-content(center);
  margin-top: 50px;

  .list-buttonsItem {
    @include display-flex;
    @include align-items(center);
    margin-right: 30px;
    width: 280px;
    height: 80px;
    background: $green;
    padding: 20px;

    &:last-child {
      margin-right: 0;
    }
    a {
      @include flex(1);
      font: 14px/1.2 'BentonBold';
      color: $white;
      text-align: center;
    }
  }
}


.section-header {
  @include display-flex;
  align-items: center;
  justify-content: center;
  height: 460px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.39);
  }
  h1 {
    max-width: 1140px;
    font: 68px/81px 'BentonBold';
    letter-spacing: -1px;
    position: relative;
    color: #fff;
  }
  p {
    font: 14px/20px 'BentonBold';
    margin-top: 20px;
  }
  > div {
    position: relative;
  }
}

.list-media {
  margin-bottom: 30px;
  &.is-left {
    svg, img {
      margin: 0;
    }
  }
  &.is-small {
    margin-bottom: 20px;
  }
  svg, img {
    margin: 0 auto;
    display: block;
  }
  &.is-mini {
    margin-bottom: 10px;
  }
  &.f-26 {
    height: 26px;
  }
}

.section-map {
  margin: 0 auto;
  position: relative;
  > svg {
    width: 100%;
  }
  .btn-map:hover {
    cursor: pointer;
    fill-opacity: 0.8;
  }
}

.section-media {
  margin: 0 auto;
  &.is-center {
    svg, img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &.is-space--30 {
    margin-bottom: 30px;
  }
  &.is-space--60 {
    margin-bottom: 60px;
  }
  &.is-space--10 {
    margin-bottom: 10px;
  }
}
.section-media--negocio {
  margin-top: -368px;
}


.map-info {
  background: #F1F1F1;
  padding: 26px;
  position: absolute;
  top: -100px;
  left: 50%;
  width: 550px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}
.map-infoTitle {
  margin-bottom: 20px;
  font: 18px/25px 'BentonBook';
}
.map-infoSubtitle {
  font: 15px/18px 'BentonBook';
  color: #0086CE;
  margin-bottom: 4px;
}
.map-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.map-infoMedia {
  margin-bottom: 20px;
}

.list-solutions {
  > li {
    margin-bottom: 40px;
  }
  .list-solutionsTitle {
    font: 15px/18px 'BentonBold';
    color: $white;
    margin-bottom: 4px;
  }
  .list-solutionsCountry {
    font: 11px/13px 'BentonBold';
    color: #2ECDCD;
    text-transform: uppercase;
  }
}

.break {
  height: 60px;
  margin: 30px 0;
  background-image: url('../images/separador.png');
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
}

.list-box {
  @include display-flex;
  border: 1px solid $bbvablue;
  padding: 1px 0;
  margin: 40px 0;
}

  .list-boxItem {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    border-right: 1px solid $bbvablue;
    text-align: center;
    flex: 25%;
    padding: 30px 20px;
    &:last-child {
      border-right: 0;
    }
  }

  .list-boxItemTitle {
    color: $bbvablue;
    font: 12px/16px 'BentonBook';
    margin-bottom: 23px;
  }

  .descriptions {
    @include display-flex;
    @inlude align-items(flex-start);
    dt {
      width: 220px;
      margin-right: 30px;
      min-width: 220px;
    }
  }

  .list-decoration {
    .list-decorationItem {
      padding: 0 0 0 20px;
      margin-bottom: 20px;
      background-image: url('../images/list-decoration-grey.svg');
      background-repeat: no-repeat;
      background-position: 0 3px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.is-dark {
      .list-decorationItem {
        background-image: url('../images/list-decoration-blue.svg');
      }
    }
  }

.list-borders .list-item {
  border-top: 1px solid #004481;
  padding-top: 20px;
}
.list-numbers {
  >li {
    margin-right: 60px;
    padding-right: 60px;
    border-right: 1px solid #000;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border: 0;
    }
  }
}

.section-proveedores {
  padding-right: 40px;
  padding-left: 40px;
  .list--threeItems .list-item {
    border-right: 1px solid #fff;
    margin: 0;
    padding: 0 15px;
    width: 33.33%;
    &:last-child {
      border: 0;
    }
    .paragraph {
      margin-bottom: 0;
    }
  }
}

.list-purpose {
  padding-top: 45px;
}

span.highlight {
  background-color: #ffec86;
  color: #444;
  padding: 2px;
}
