.header {
  background: $darkblue;
  padding: 23px 0 26px;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.Home .header {
  background: transparent;

  &.is-visible,
  &.is-search {
    background: $darkblue;
  }
}

.header ~.principal {
  margin: 142px 0 0 0;
}

.header-container {
  @include display-flex;
  @include align-items(flex-end);
  margin-bottom: 4px;
  margin-top: 23px;
  position: relative;
}

.is-search .header-containerLogo {
  opacity: 0;
}

.menu {
  @include display-flex;
  opacity: 1;
}

.is-search .menu {
  opacity: 0;
}

.header-title {
  color: $white;
  font-family: 'BentonLight';
  font-size: 34px;
  line-height: 1;
}

.menu-item {
  font-family: 'BentonMedium';
  font-size: 12px;
  margin-right: 50px;
  text-transform: uppercase;

  a {
    color: rgba($white, .6);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, 1);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.Home {
  .menu-item a {
    color: rgba($white, 1);
    &:hover {
      color: rgba($white, 0.6);
    }
  }
  .search-item path {
    fill: $white;
  }
}


.options-list {
  @include display-flex();
  @include justify-content(flex-end);
}

.options-listitem {
  font-family: 'BentonBold';
  font-size: 12px;
  margin-right: 20px;

  a {
    color: rgba($white, 1);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, .6);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation {
  @include display-flex();
  margin-left: 70px;
}

.search {
  position: absolute;
  right: 0;
  bottom: -3px;
  left: auto;

  &.is-active {
    @include display-flex();
    left: 0;
    .search-item {
      margin-right: 12px;
    }
    .search-result {
      display: block;
      &:empty {
        display: none;
       }
    }
  }
}

.search-item {
  cursor: pointer;
}

.search-form {
  @include flex(1);
  margin-right: 70px;
  display: none;
  opacity: 0;
  input {
  width: 100%;
  background: none;
  border: 0;
  font-family: 'BentonBook';
  font-size: 15px;
  color: $white;
    &:focus {
      outline: none;
    }
  }
}

.search-info {
  cursor: pointer;
  display: none;
  opacity: 0;
}

.is-active {
  .search-info,
  .search-form {
    display: block;
    opacity: 1;
    transition: opacity 300ms 500ms;
  }
}




.search-result {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  padding: 24px;
  background: $white;
  display: none;
  border-right: 1px solid $tableborder;
  border-bottom: 1px solid $tableborder;
  border-left: 1px solid $tableborder;
  &:empty {
    display: none;
  }
  li {
    @include display-flex();
    margin-bottom: 24px;
    font-family: 'BentonLight';
    font-size: 15px;
    background: $white;
    color: #666;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $bbvablue;
      font-family: 'BentonMedium';
      margin-right: 8px,
    }
  }
}
