.header {
  background: $darkblue;
  padding: 23px 0 26px;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.5s ease;
  @media (max-width: $mobile) {
    padding: 15px 13px;
    .container {
      padding-right: 0;
      padding-left: 0;
    }
    .options {
      display: none;
    }
    .subnavigation {
      display: none;
    }
  }
}
.blocked .header {
  z-index: 21;
}

.Home .header {
  background: transparent;

  &.is-visible,
  &.is-search {
    background: $darkblue;
  }
}

.header ~.principal {
  margin: 138px 0 0 0;
  @media (max-width: $mobile) {
    margin-top: 78px;
  }
}

.header-container {
  @include display-flex;
  @include align-items(flex-end);
  margin-bottom: 4px;
  margin-top: 23px;
  position: relative;
  @media (max-width: $mobile) {
    @include align-items(center);
    margin: 0;
    .navigation {
      display: none;
    }
    .header-containerLogo svg {
      width: 80px;
    }
  }
}

.is-search .header-containerLogo {
  opacity: 0;
}

.menu {
  @include display-flex;
  opacity: 1;
}

.is-search .menu {
  opacity: 0;
}

.header-title {
  color: $white;
  font-family: 'BentonLight';
  font-size: 34px;
  line-height: 1;
}

.menu-item {
  font-family: 'BentonMedium';
  font-size: 12px;
  margin-right: 50px;
  text-transform: uppercase;

  a {
    color: rgba($white, 1);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, .6);
    }
    &.active {
      color: #2A86CA;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.Home {
  .menu-item a {
    color: rgba($white, 1);
    &:hover {
      color: rgba($white, 0.6);
    }
  }
  .search-item path {
    fill: $white;
  }
}


.options-list {
  @include display-flex();
  @include justify-content(flex-end);
}

.options-listitem {
  font-family: 'BentonBold';
  font-size: 12px;
  margin-right: 20px;

  a {
    color: rgba($white, 1);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, .6);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation {
  @include display-flex();
  margin-left: 70px;
}

.search {
  position: absolute;
  right: 0;
  bottom: -3px;
  left: auto;

  &.is-active {
    @include display-flex();
    left: 0;
    .search-item {
      margin-right: 12px;
    }
    .search-result {
      display: block;
      &:empty {
        display: none;
       }
    }
  }
}

.search-item {
  cursor: pointer;
}

.search-form {
  @include flex(1);
  margin-right: 70px;
  display: none;
  opacity: 0;
  input {
  width: 100%;
  background: none;
  border: 0;
  font-family: 'BentonBook';
  font-size: 15px;
  color: $white;
    &:focus {
      outline: none;
    }
  }
}

.search-info {
  cursor: pointer;
  display: none;
  opacity: 0;
}

.is-active {
  .search-info,
  .search-form {
    display: block;
    opacity: 1;
    transition: opacity 300ms 500ms;
  }
}




.search-result {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  padding: 24px;
  background: $white;
  display: none;
  border-right: 1px solid $tableborder;
  border-bottom: 1px solid $tableborder;
  border-left: 1px solid $tableborder;
  &:empty {
    display: none;
  }
  li {
    @include display-flex();
    margin-bottom: 24px;
    font-family: 'BentonLight';
    font-size: 15px;
    background: $white;
    color: #666;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $bbvablue;
      font-family: 'BentonMedium';
      margin-right: 8px,
    }
  }
}


.tabs {
  @include display-flex;
  @include justify-content(space-between);
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  &.tabs--lightbox {
    width: 350px;
    margin: 0 auto 20px auto;
  }
  &.is-blue {
    border-bottom: 1px solid #49A5E6;
    .tabs-item a {
      color: #49A5E6;
      &.is-active {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
      &:hover {
        @include transition(opacity, 300ms);
        color: rgba(#fff, .6);
      }
    }
  }
  .tabs-item {
    padding: 0 15px;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
    position: relative;
    margin-bottom: -1px;
    a {
      color: #666666;
      padding-bottom: 26px;
      display: block;
      &.is-active {
        color: #000;
        border-bottom: 1px solid #000;
      }
      &:hover {
        @include transition(opacity, 300ms);
        color: rgba(#666666, .6);
      }
    }
  }
}

.subnavigation {
  background: #004481;
  padding: 20px 0;
  margin-top: 26px;
  margin-bottom: -26px;
  .menu-item {
    text-transform: none;
    font-size: 16px;
    font-family: 'BentonBook';
    a {
      color: rgba($white, 0.6);
      &.active {
        color: $white;
      }
    }
  }
}


.hamburguer {
  display: none;
  margin-right: 24px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  @media (max-width: $mobile) {
    display: block;
  }
}

.navigation-mobile {
  display: none;
  transform: translateX(-100%);
  &.is-open {
    transform: translateX(0);
    width: 100%;
    height: 100vh;
    position: fixed;
    background: $darkblue;
    top: 0;
    display: block;
    padding: 60px 20px 13px 20px;
    z-index: 20;
    .menu {
      @include flex-direction(column);
    }
    > .menu {
      height: calc(100% - 50px);
      overflow: auto;
    }
    .menu-item {
      border: 0;
      border-bottom: 1px solid rgba(233, 233, 233, 0.2);
      margin: 0 15px;
      padding: 16px 15px;
      font-size: 17px;
      font-family: 'BentonLight';
      a.active + .subnavigation {
        display: block;
        background: none;
        padding: 0;
        .menu-item {
          padding: 0;
          border: 0;
          font-size: 15px;
          margin-top: 15px;
        }
      }
    }
    .subnavigation {
      background: none;
      margin: 0;
      padding: 0;
      .menu-item {
        padding: 12px 32px;
      }
    }
  }
}

.mobile-language {
  @include display-flex;
  font-size: 17px;
  line-height: 1;
  font-family: 'BentonLight';
  position: absolute;
  left: 28px;
  bottom: 28px;
  > li {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid rgba(233, 233, 233, 0.6);
    &:last-child {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
  a {
    color: rgba(233, 233, 233, 0.6);
    &.active {
      color: rgba(233, 233, 233, 1);
    }
  }
}

.hamburguer-icon {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  width: 18px;
  height: 18px;
  &.is-hidden {
    display: none;
  }
}

.closeMenu-icon {
  display: none;
  width: 18px;
  height: 18px;
  &.is-open {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
  }
}

