.u-txt-center {
  text-align: center;
}

.u-flex {
  @include display-flex;
}

.u-space-between {
  @include justify-content(space-between);
}
.u-hcenter {
  @include justify-content(center);
}
.u-hend {
  @include justify-content(flex-end);
}
.u-hstart {
  @include justify-content(flex-start);
}

.u-upperCase {
  text-transform: uppercase;
}

.u-blue {
  color: $bbvablue;
}

.columns {
  column-gap: 30px;
}
.columns--2 {
  column-count: 2;
}