.title-section {
  font: 36px/43px 'BentonLight';
  margin-bottom: 70px;
}

.title-section--inside {
  margin-bottom: 20px;
}

.subtitle-section {
  font: 21px/29px 'BentonBook';
  margin-bottom: 45px;
}
.subtitle-section--small {
  margin-bottom: 20px;
}

.paragraph {
  color: $txtgrey;
  font: 15px/23px 'BentonLight';
  margin-bottom: 20px;
  &.is-l {
    color: $txtgrey;
    font: 18px/25px 'BentonLight';
  }
  b {
    font-family:'BentonBold';
  }
}
.paragraph--big {
  margin-bottom: 70px;
}

.title-list {
  font: 20px/24px 'BentonBook';
  margin-bottom: 20px;
}

.subheader-section {
  color: $bbvablue;
  font: 14px/22px 'BentonBold';
  margin: 30px 0;
}

.tit-block {
  font: 16px/22px 'BentonBold';
  margin: 12px 0 4px;
}

.tit-principal {
  color: $white;
  font: 66px 'BentonBold';
  position: relative;
}

.tit-letter {
  color: $dark;
  font: 38px 'BentonBold';
  padding: 60px 0 40px;
  position: relative;
}

.link-more {
  font: 14px/1 'BentonBold';
  text-align: center;
  a {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    color: $bbvablue;
    svg {
      margin-right: 8px;
    }
  }
}
.icon-more {
  fill: $bbvablue;
}
.section--blue .icon-more {
  fill: $white;
}


.section--blue {
  .subheader-section,
  .paragraph,
  .link-more a {
    color: $white;
  }
}


