.title-section {
  font: 36px/1 'BentonLight';
  margin-bottom: 70px;
}

.title-section--inside {
  margin-bottom: 20px;
}

.subtitle-section {
  font: 22px/29px 'BentonLight';
  margin-bottom: 45px;
}